body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #555;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #20c997; /* Teal */
    margin-bottom: 30px;
    text-align: center;
}

.filter-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filter-search select,
.filter-search input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter-search select {
    flex: 1;
    margin-right: 10px;
}

.filter-search input {
    flex: 2;
}

.devices-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.device-item {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #fff;
}

.device-item:hover {
    transform: translateY(-10px);
}

.device-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    background-color: #20c997; /* Teal */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #17a2b8; /* Darker Teal */
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    color: #888;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: #555;
}

.add-device-btn {
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    float: right;
}

.add-device-btn:hover {
    background-color: #0056b3;
}

/* Add Device Modal */
#addDeviceModal {
    display: none;
}

#addDeviceModal .form-group {
    margin-bottom: 15px;
}

#addDeviceModal form {
    max-width: 400px;
    margin: 0 auto;
}

#addDeviceModal button {
    display: block;
    margin: 0 auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#addDeviceModal button:hover {
    background-color: #0056b3;
}

